/* ================================= 
  Base Element Styles
==================================== */

/* Color pallette:
  Background Light-grey:	#f2f7f8;
  Text Dark-grey:		#40424a;
  Text Light-grey:		#808181;
*/

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
*/

body {
	background-color:#f2f7f8;
	font-family: 'Open Sans', sans-serif;
	min-height: 100vh;
}

.container > h3,
.col-12 > h3,
.skills > h3 {
	font-family: 'Oswald', sans-serif;
}

.service-wrapper > h3,
.skills > .col-12 > h3 {
	color: #fff;
}

.section {
	padding-top: 50px;
	padding-bottom: 50px;
}

a:hover {
	text-decoration: none;
}

.navbar-brand {
	font-family: 'Oswald', sans-serif;
	font-style: bold;
}

.hero-text h2, .general-info h2 {
	font-family: 'Oswald', sans-serif;
}

.table td, .table th {
	border-top: none;
}

.social-icon img {
	width: 5rem;
	padding: .5rem;
	transition-duration: 0.32s;
	-webkit-transition-duration: 0.32s; /* Safari */
}

.col-3:first-child {
	padding-left: 0;
}

.certifications img {
	width: 250px;
	height: 250px;
	margin: 0 auto;
	transition-duration: 0.32s;
	-webkit-transition-duration: 0.32s; /* Safari */
}

.books img{
	width: 250px;
	height: 320px;
	transition-duration: 0.32s;
	-webkit-transition-duration: 0.32s; /* Safari */
}

.service-wrapper,
.social-media,
.skills {
	background: url("../images/icons/leaves-pattern.png");
}

.social-media {
	padding: 112px 0;
}

.card-deck {
	text-align: center;
	padding-top: 79px;
	padding-bottom: 112px;
}

.skills {
	padding: 5px 0;
}

.skill-list {
	width: 100%;
}

.skills >.card h4 {
	text-align: center;
	margin: 30px 0 -30px 0;
}

.skill {
	text-align: left;
}

.rounded-circle {
	border: 1px solid #fff;
	background: #fff;
	color: #000;
	height: 100%;
}

.btn-outline-light,
.btn-primary {
	float:left;
	color: #FFDF00;
}

.btn.btn-outline-light:hover {
	color: #000;
}

.card {
	overflow:hidden;
	position:relative;
	padding-left: 0;
	padding-right: 0;
}

.card.certifications {
	padding-bottom: 60px;
}

.service-wrapper-inner {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1;
	top: 245px;
	padding: 15px 20px;
	-webkit-transition: 0.1s;
	-moz-transition: 0.1s;
	-ms-transition: 0.1s;
	-o-transition: 0.1s;
	transition: 0.1s;
	background: rgba(32,32,32,0.9);
}

.service-wrapper-inner > * {
	color: #FFDF00;
}

.service-wrapper-inner > *:hover {
	color: #FFF;
}

.card:hover .service-wrapper-inner {
	top: 0;
}

.card h4, .card p{
	text-align: left;
}


/* ================================= 
 Media Queries
==================================== */

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
	
	.navbar {
		padding: 1rem;
	}
	
	.nav-item {
		padding: 0 0 0 16px;
	}

	.navbar-brand, .nav-link, .nav-link:hover {
		transition-duration: 0.32s;
		-webkit-transition-duration: 0.32s; /* Safari */
	}

	.navbar-light .navbar-nav .nav-link {
		border: 2px solid black;
		padding: 10px 12px;
		text-transform: uppercase;
		text-decoration: none;
	}
	
	.navbar-light .navbar-brand:hover, .navbar-light .navbar-nav .nav-link:hover {
		color: #FF4C4C;
	}
	
	.navbar-light .navbar-nav .nav-link:hover {
		text-decoration: none;
	}
	
	.hero-text h2 {
		font-size: 10rem;
	}
	
	.hero-text p {
		font-size: 2rem;
	}
	
	.general-info h2 {
		font-size: 3.8rem;
	}
	
	.table {
		font-size: 1.2rem;
	}
	
	.social-icon img {
		width: 6rem;
	}
	
	.social-icon img:hover {
		width: 6.5em;
		transition-duration: 0.32s;
		-webkit-transition-duration: 0.32s; /* Safari */
	}
	
	.certifications img:hover {
		transition-duration: 0.32s;
		-webkit-transition-duration: 0.32s; /* Safari */
	}
	
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

	.social-media {
		margin: 1rem 0;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
	
}

/* Large devices (desktops, 992px and up)*/
@media only screen and (max-width: 1150px) and (min-width: 992px) {
	.social-media {
		margin: 8rem 0;
	}
	
	.img-fluid {
		min-width: 400px;
	}
	
	.col-lg-4 {
		max-width: 60%;
		flex: 0 0 60%;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { }
